<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="navBar.css" />
    <link rel="stylesheet" href="filter.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Upload</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">Easy Product</a>
        <form action="/search" class="search">
          <input
            type="search"
            class="searchBar"
            name="product"
            placeholder="Search... "
          />
        </form>
        <nav>
          <ul>
            <li>
              <a href="cart"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
              <a href="account"><i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="logout"><i class="fa fa-sign-out"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-bars" onclick="openNav()"></i></a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="/"> Home </a>
        <a href="/dashboard"> Dashboard </a>
        <a href="/productFilter"> Product </a>
        <a href="/invoiceFilter"> Invoice </a>
        <a href="/vendorSelect"> Vendor </a>
        <a href="/purchaseOrderSelect"> Purchase Order </a>
        <a href="/tag">Create Tags</a>
        <a href="/vendorPage">Create Vendor</a>
        <a href="/upload">Upload </a>
      </div>
      <main>
        <div class="container">
          <div class="row">
            <h2>Import Products</h2>
            <p>
              Reminder: Each column of the row in the template can't be empty
            </p>
            <input type="file" id="inputProductFile" accept=".xlsx" />
            <div class="upload">
              <div class="action">
                <button id="uploadProductButton">Upload</button>
                <p id="productMsg"></p>
              </div>
              <a href="/download?file=create_template.xlsx"
                >Download Template</a
              >
            </div>
          </div>

          <div class="row">
            <h2>Import Sales</h2>
            <p>
              Reminder: Each column of the row in the template can't be empty
            </p>
            <div class="select">
              <input type="file" id="inputSalesFile" accept=".xlsx" />
              <input type="date" id="salesDate" />
            </div>
            <div class="upload">
              <div class="action">
                <button id="uploadSalesButton">Upload</button>
                <p id="salesMsg"></p>
              </div>
              <a href="/download?file=sales_template.xlsx">Download Template</a>
            </div>
          </div>

          <div class="row">
            <h2>Import Invoice</h2>
            <p>
              Reminder: Each column of the row in the template can't be empty
            </p>
            <div class="select">
              <input type="file" id="inputInvoiceFile" accept=".xlsx" />
              <input type="date" id="invoiceDate" />
            </div>
            <div class="upload">
              <div class="action">
                <button id="uploadInvoiceButton">Upload</button>
                <p id="invoiceMsg"></p>
              </div>
              <a href="/download?file=invoice_template.xlsx"
                >Download Template</a
              >
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <script src="/script/navBar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
  <script src="/script/upload.js"></script>
</html>
