<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= vendor %> Dashboard</title>
    <link rel="stylesheet" href="navBar.css" />
    <link rel="stylesheet" href="vendordashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/">Easy Product</a>
        <form action="/search" class="search">
          <input
            type="search"
            class="searchBar"
            name="product"
            placeholder="Search... "
          />
        </form>
        <nav>
          <ul>
            <li>
              <a href="cart"><i class="fa fa-shopping-cart"></i></a>
            </li>
            <li>
              <a href="account"><i class="fa fa-user"></i></a>
            </li>
            <li>
              <a href="logout"><i class="fa fa-sign-out"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-bars" onclick="openNav()"></i></a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
          >&times;</a
        >
        <a href="/"> Home </a>
        <a href="/dashboard"> Dashboard </a>
        <a href="/productFilter"> Product </a>
        <a href="/invoiceFilter"> Invoice </a>
        <a href="/vendorSelect"> Vendor </a>
        <a href="/purchaseOrderSelect"> Purchase Order </a>
        <a href="/tag">Create Tags</a>
        <a href="/vendorPage">Create Vendor</a>
        <a href="/upload">Upload </a>
      </div>
      <main>
        <h1 id="vendor"><%= vendor %></h1>
        <div class="topDiv">
          <div class="summary">
            <div class="table-wrapper">
              <table class="fl-table">
                <tr>
                  <th>Year</th>
                  <th id="last"></th>
                  <th id="current"></th>
                </tr>
                <tr>
                  <td>Annual SKUs</td>
                  <td id="purchaseCountLast"></td>
                  <td id="purchaseCount"></td>
                </tr>
                <tr>
                  <td>Annual Purchase Quantity</td>
                  <td id="purchaseUnitsLast"></td>
                  <td id="purchaseUnits"></td>
                </tr>
                <tr>
                  <td>Annual Purchase Amount</td>
                  <td id="purchaseAmountLast"></td>
                  <td id="purchaseAmount"></td>
                </tr>
                <tr>
                  <td>Annual SKUs Sold</td>
                  <td id="soldCountLast"></td>
                  <td id="soldUnitsCount"></td>
                </tr>
                <tr>
                  <td>Annual Sold Quantity</td>
                  <td id="soldUnitsLast"></td>
                  <td id="soldUnits"></td>
                </tr>
                <tr>
                  <td>Annual GMS</td>
                  <td id="gmsLast"></td>
                  <td id="gms"></td>
                </tr>
                <tr>
                  <td>Annual Profit</td>
                  <td id="profitLast"></td>
                  <td id="profit"></td>
                </tr>
                <tr>
                  <td>Annual Margin</td>
                  <td id="marginLast"></td>
                  <td id="margin"></td>
                </tr>
                <tr>
                  <td>SKUs On Hand</td>
                  <td></td>
                  <td id="sku"></td>
                </tr>
                <tr>
                  <td>Inventory On Hand</td>
                  <td></td>
                  <td id="inventory"></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="table-wrapper">
            <table class="fl-table">
              <tr>
                <th>Top 10 Products</th>
                <th>Product ID</th>
                <th>GMS</th>
                <th>Margin</th>
              </tr>
              <tr>
                <td>1</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>2</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>3</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>4</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>5</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>6</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>7</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>8</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>9</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
              <tr>
                <td>10</td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
                <td class="hotSale"></td>
              </tr>
            </table>
          </div>
          <canvas class="salesChart" id="this"> </canvas>
        </div>
        <div class="secDiv">
          <div class="contact">
            <h2>Vendor Info</h2>
            <div class="table-wrapper">
              <table class="fl-table">
                <tr>
                  <td>Contact</td>
                  <td id="contact"></td>
                </tr>
                <tr>
                  <td>Contact Email</td>
                  <td id="contactEmail"></td>
                </tr>
                <tr>
                  <td>Sales Contact</td>
                  <td id="salesContact"></td>
                </tr>
                <tr>
                  <td>Sales Contact Email</td>
                  <td id="salesContactEmail"></td>
                </tr>
                <tr>
                  <td>AP Contact</td>
                  <td id="apContact"></td>
                </tr>
                <tr>
                  <td>AP Email</td>
                  <td id="apEmail"></td>
                </tr>
                <tr>
                  <td>Payment Term</td>
                  <td id="paymentTerm"></td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td id="address"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="sales">
          <h2>Sales Table</h2>
          <div class="table-wrapper">
            <table class="fl-table">
              <tr>
                <th>This Year</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
              <tr>
                <td>SKUs</td>
                <td id="sku1">0</td>
                <td id="sku2">0</td>
                <td id="sku3">0</td>
                <td id="sku4">0</td>
                <td id="sku5">0</td>
                <td id="sku6">0</td>
                <td id="sku7">0</td>
                <td id="sku8">0</td>
                <td id="sku9">0</td>
                <td id="sku10">0</td>
                <td id="sku11">0</td>
                <td id="sku12">0</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td id="units1">0</td>
                <td id="units2">0</td>
                <td id="units3">0</td>
                <td id="units4">0</td>
                <td id="units5">0</td>
                <td id="units6">0</td>
                <td id="units7">0</td>
                <td id="units8">0</td>
                <td id="units9">0</td>
                <td id="units10">0</td>
                <td id="units11">0</td>
                <td id="units12">0</td>
              </tr>
              <tr>
                <td>GMS</td>
                <td id="gms1">0</td>
                <td id="gms2">0</td>
                <td id="gms3">0</td>
                <td id="gms4">0</td>
                <td id="gms5">0</td>
                <td id="gms6">0</td>
                <td id="gms7">0</td>
                <td id="gms8">0</td>
                <td id="gms9">0</td>
                <td id="gms10">0</td>
                <td id="gms11">0</td>
                <td id="gms12">0</td>
              </tr>
              <tr>
                <td>Profit</td>
                <td id="profit1">0</td>
                <td id="profit2">0</td>
                <td id="profit3">0</td>
                <td id="profit4">0</td>
                <td id="profit5">0</td>
                <td id="profit6">0</td>
                <td id="profit7">0</td>
                <td id="profit8">0</td>
                <td id="profit9">0</td>
                <td id="profit10">0</td>
                <td id="profit11">0</td>
                <td id="profit12">0</td>
              </tr>
              <tr>
                <td>Margin</td>
                <td id="margin1">0</td>
                <td id="margin2">0</td>
                <td id="margin3">0</td>
                <td id="margin4">0</td>
                <td id="margin5">0</td>
                <td id="margin6">0</td>
                <td id="margin7">0</td>
                <td id="margin8">0</td>
                <td id="margin9">0</td>
                <td id="margin10">0</td>
                <td id="margin11">0</td>
                <td id="margin12">0</td>
              </tr>
            </table>
          </div>

          <div class="table-wrapper">
            <table class="fl-table">
              <tr>
                <th>Last Year</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
              <tr>
                <td>SKUs</td>
                <td id="lsku1">0</td>
                <td id="lsku2">0</td>
                <td id="lsku3">0</td>
                <td id="lsku4">0</td>
                <td id="lsku5">0</td>
                <td id="lsku6">0</td>
                <td id="lsku7">0</td>
                <td id="lsku8">0</td>
                <td id="lsku9">0</td>
                <td id="lsku10">0</td>
                <td id="lsku11">0</td>
                <td id="lsku12">0</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td id="lunits1">0</td>
                <td id="lunits2">0</td>
                <td id="lunits3">0</td>
                <td id="lunits4">0</td>
                <td id="lunits5">0</td>
                <td id="lunits6">0</td>
                <td id="lunits7">0</td>
                <td id="lunits8">0</td>
                <td id="lunits9">0</td>
                <td id="lunits10">0</td>
                <td id="lunits11">0</td>
                <td id="lunits12">0</td>
              </tr>
              <tr>
                <td>GMS</td>
                <td id="lgms1">0</td>
                <td id="lgms2">0</td>
                <td id="lgms3">0</td>
                <td id="lgms4">0</td>
                <td id="lgms5">0</td>
                <td id="lgms6">0</td>
                <td id="lgms7">0</td>
                <td id="lgms8">0</td>
                <td id="lgms9">0</td>
                <td id="lgms10">0</td>
                <td id="lgms11">0</td>
                <td id="lgms12">0</td>
              </tr>
              <tr>
                <td>Profit</td>
                <td id="lprofit1">0</td>
                <td id="lprofit2">0</td>
                <td id="lprofit3">0</td>
                <td id="lprofit4">0</td>
                <td id="lprofit5">0</td>
                <td id="lprofit6">0</td>
                <td id="lprofit7">0</td>
                <td id="lprofit8">0</td>
                <td id="lprofit9">0</td>
                <td id="lprofit10">0</td>
                <td id="lprofit11">0</td>
                <td id="lprofit12">0</td>
              </tr>
              <tr>
                <td>Margin</td>
                <td id="lmargin1">0</td>
                <td id="lmargin2">0</td>
                <td id="lmargin3">0</td>
                <td id="lmargin4">0</td>
                <td id="lmargin5">0</td>
                <td id="lmargin6">0</td>
                <td id="lmargin7">0</td>
                <td id="lmargin8">0</td>
                <td id="lmargin9">0</td>
                <td id="lmargin10">0</td>
                <td id="lmargin11">0</td>
                <td id="lmargin12">0</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="purchase">
          <h2 style="padding-top: 100px">Purchase Table</h2>

          <div class="table-wrapper">
            <table class="fl-table">
              <tr>
                <th>This Year</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
              <tr>
                <td>SKUs</td>
                <td id="psku1">0</td>
                <td id="psku2">0</td>
                <td id="psku3">0</td>
                <td id="psku4">0</td>
                <td id="psku5">0</td>
                <td id="psku6">0</td>
                <td id="psku7">0</td>
                <td id="psku8">0</td>
                <td id="psku9">0</td>
                <td id="psku10">0</td>
                <td id="psku11">0</td>
                <td id="psku12">0</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td id="punits1">0</td>
                <td id="punits2">0</td>
                <td id="punits3">0</td>
                <td id="punits4">0</td>
                <td id="punits5">0</td>
                <td id="punits6">0</td>
                <td id="punits7">0</td>
                <td id="punits8">0</td>
                <td id="punits9">0</td>
                <td id="punits10">0</td>
                <td id="punits11">0</td>
                <td id="punits12">0</td>
              </tr>
              <tr>
                <td>Amount</td>
                <td id="pamount1">0</td>
                <td id="pamount2">0</td>
                <td id="pamount3">0</td>
                <td id="pamount4">0</td>
                <td id="pamount5">0</td>
                <td id="pamount6">0</td>
                <td id="pamount7">0</td>
                <td id="pamount8">0</td>
                <td id="pamount9">0</td>
                <td id="pamount10">0</td>
                <td id="pamount11">0</td>
                <td id="pamount12">0</td>
              </tr>
            </table>
          </div>
          <div class="table-wrapper">
            <table class="fl-table">
              <tr>
                <th>Last Year</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
              </tr>
              <tr>
                <td>SKUs</td>
                <td id="lpsku1">0</td>
                <td id="lpsku2">0</td>
                <td id="lpsku3">0</td>
                <td id="lpsku4">0</td>
                <td id="lpsku5">0</td>
                <td id="lpsku6">0</td>
                <td id="lpsku7">0</td>
                <td id="lpsku8">0</td>
                <td id="lpsku9">0</td>
                <td id="lpsku10">0</td>
                <td id="lpsku11">0</td>
                <td id="lpsku12">0</td>
              </tr>
              <tr>
                <td>Quantity</td>
                <td id="lpunits1">0</td>
                <td id="lpunits2">0</td>
                <td id="lpunits3">0</td>
                <td id="lpunits4">0</td>
                <td id="lpunits5">0</td>
                <td id="lpunits6">0</td>
                <td id="lpunits7">0</td>
                <td id="lpunits8">0</td>
                <td id="lpunits9">0</td>
                <td id="lpunits10">0</td>
                <td id="lpunits11">0</td>
                <td id="lpunits12">0</td>
              </tr>
              <tr>
                <td>Amount</td>
                <td id="lpamount1">0</td>
                <td id="lpamount2">0</td>
                <td id="lpamount3">0</td>
                <td id="lpamount4">0</td>
                <td id="lpamount5">0</td>
                <td id="lpamount6">0</td>
                <td id="lpamount7">0</td>
                <td id="lpamount8">0</td>
                <td id="lpamount9">0</td>
                <td id="lpamount10">0</td>
                <td id="lpamount11">0</td>
                <td id="lpamount12">0</td>
              </tr>
            </table>
          </div>
        </div>
      </main>
    </div>
    <script src="/script/vendorDashboard.js"></script>
    <script src="/script/navBar.js"></script>
  </body>
</html>
